services:

  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak:26.4.7
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KC_DB=postgres
      - KC_DB_URl=jdbc:postgresql://postgres-keycloak:5432/database
      - KC_DB_USERNAME=postgres
      - KC_DB_PASSWORD=postgres
      - KC_HTTP_RELATIVE_PATH=/
    command: start-dev
    ports:
      - "8081:8080"
    depends_on:
      - postgres-keycloak

  postgres-keycloak:
    container_name: keycloak-postgres
    image: postgres:15
    environment:
      POSTGRES_DB: database
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5434:5432"
    volumes:
      - keycloak_pgdata:/var/lib/postgresql/data

  application-postgres:
    container_name: application-postgres
    image: postgres:15
    environment:
      POSTGRES_DB: app_db
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: app_password
    ports:
      - "5435:5432"
    volumes:
      - app_pgdata:/var/lib/postgresql/data

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:latest
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
        - application-postgres
        - postgres-keycloak

volumes:
  keycloak_pgdata:
  app_pgdata: