spring:
  application:
    name: reserva-cinema

  datasource:
    url: jdbc:postgresql://localhost:5435/app_db
    username: app_user
    password: app_password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8081/realms/development
          jwk-set-uri: http://localhost:8081/realms/development/protocol/openid-connect/certs